#aboutSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, auto);
    justify-items: center;
    background-color: #f0f7f4;
    background-image: url("../../assets/img/home.png");
    background-size: contain;
  }
  
  #aboutSection > .titleBorder:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 40%;
      padding-top: 20px;
      border-bottom: 1px solid black;
  }
  
  #aboutSection > .titleBorder:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 40%;
      padding-top: 20px;
      border-top: 1px solid black
  }
  
  /* ******* SAVING MONEY ********* */
  
  #aboutSection > .moneyTitle {
    text-align: center;
    align-content: center;
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 5%;
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  
  #aboutSection > .savingMoney {
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    width: 85%;
    grid-column: span 1;
    grid-row: 2 / span 2;
    color: black;
    align-self: center;
    font-weight: 200;
  }
  
  #aboutSection > .moneyPig {
    grid-column: 2 / span 1;
    grid-row: 2 /span 2;
    width: 50%;
    justify-self: center;
    align-self: center;
  }
  
  
  /* *********** CONNECTING PEOPLE ************ */
  
  #aboutSection > .connectingTitle {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 5%;
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  
  #aboutSection > .connectingPeople {
    justify-content: center;
    margin-left: 5%;
    margin-right: 2%;
    width: 80%;
    grid-column: 2 / span 1;
    grid-row: 5 / span 2;
    color: black;
    align-self: center;
    font-weight: 200;
  }
  
  #aboutSection > .connectionPicture {
    grid-column: 1 / span 1;
    grid-row: 5 /span 2;
    width: 50%;
    justify-self: center;
    align-self: center;
  }
  
  
  /* ******** MAKE MONEY OF YOUR OWN TOOLS ************ */
  
  #aboutSection > .profitTitle {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 5%;
    grid-row: 7;
    grid-column: 1 / span 2;
  }
  
  #aboutSection > .profit {
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
    width: 85%;
    grid-column: span 1;
    grid-row: 8 / span 2;
    color: black;
    align-self: center;
    font-weight: 200;
  }
  
  #aboutSection > .celebrationPicture {
    grid-column: 2 / span 1;
    grid-row: 8 /span 2;
    width: 50%;
    justify-self: center;
    align-self: center;
  }
  
  
  /* ***** TEAM SECTION ***** */
  #aboutSection > .teamTitle {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 5%;
    grid-row: 10;
    grid-column: 1 / span 2;
  }
  
  #aboutSection > div > img {
    border-radius: 100px;
    border: 1px solid #3c493f;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
  #aboutSection > p {
    color: black;
    align-self: center;
    margin-left: 5%;
    margin-right: 2%;
    width: 60%;
    font-weight: 200;
  }
  
  #aboutSection >  div > p {
    text-align: center;
  }
  
  #aboutSection > div {
    margin-bottom: 4%;
    margin-top: 7%;
  }
  
  /* ***** CEO ****** */
  
  #aboutSection > .monkeyContainer {
    grid-row: 11 / span 1;
    grid-column: 1 / span 1;
  }
  
   #aboutSection > .monkeyDescription {
    grid-column: 2 / span 1;
    grid-row: 11 / span 1;
  }
  
  
  /* ****** CTO ****** */
  
  #aboutSection > .lionContainer {
    grid-row: 12 / span 1;
    grid-column: 1 / span 1;
  }
  
  #aboutSection > .lionDescription {
    grid-column: 2 / span 1;
    grid-row: 12 / span 1;
  }
    /* ***** CMO ****** */
  
    #aboutSection > .owlContainer {
      grid-row: 13 / span 1;
      grid-column: 1 / span 1;
    }
  
    #aboutSection > .owlDescription {
      grid-column: 2 / span 1;
      grid-row: 13 / span 1;
    }