/* -- global colors --
    #3C493F;
    #7E8D85;
    #B3BFB8;
    #F0F7F4;
    #A2E3C4;
 */

#aboutSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(18, auto);
  justify-items: center;
  background-color: #f0f7f4;
  background-image: url("../../assets/img/home.png");
  background-size: contain;
}

#aboutSection > .titleBorder:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 20px;
  border-bottom: 1px solid rgb(22, 138, 82);
}

#aboutSection > .titleBorder:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 20px;
  border-top: 1px solid rgb(22, 138, 82);
}

/* ******* SAVING MONEY ********* */

#aboutSection > .moneyTitle {
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 1;
  grid-column: 1 / span 2;
}

#aboutSection > .savingMoney {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: span 1;
  grid-row: 2 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .moneyPig {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
}

/* *********** CONNECTING PEOPLE ************ */

#aboutSection > .connectingTitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 4;
  grid-column: 1 / span 2;
}

#aboutSection > .connectingPeople {
  justify-content: center;
  margin-left: 5%;
  margin-right: 2%;
  width: 80%;
  grid-column: 2 / span 1;
  grid-row: 5 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .connectionPicture {
  grid-column: 1 / span 1;
  grid-row: 5 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
}

/* ******** MAKE MONEY OF YOUR OWN TOOLS ************ */

#aboutSection > .profitTitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 7;
  grid-column: 1 / span 2;
}

#aboutSection > .profit {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: span 1;
  grid-row: 8 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .celebrationPicture {
  grid-column: 2 / span 1;
  grid-row: 8 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
}

/* ******** Fourth Picture Section ************ */

#aboutSection > .fourthTitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 10;
  grid-column: 1 / span 2;
}

#aboutSection > .fourth {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: 2 / span 1;
  grid-row: 11 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .fourthPicture {
  grid-column: span 1;
  grid-row: 11 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
}

/* ******** Fifth Picture Section ************ */

#aboutSection > .fifthTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 13;
  grid-column: 1 / span 2;
}

#aboutSection > .fifth {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: span 1;
  grid-row: 14 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .fifthPicture {
  grid-column: 2 / span 1;
  grid-row: 14 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
}

/* ******** Sixth Picture Section ************ */

#aboutSection > .sixthTitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 16;
  grid-column: 1 / span 2;
}

#aboutSection > .sixth {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: 2 / span 1;
  grid-row: 17 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .sixthPicture {
  grid-column: span 1;
  grid-row: 17 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
  font-weight: 200;
}

/* * ******** Seventh Picture Section ************ */
#aboutSection > .seventhTitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-row: 19;
  grid-column: 1 / span 2;
}

#aboutSection > .seventh {
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  width: 85%;
  grid-column: span 1;
  grid-row: 20 / span 2;
  color: black;
  align-self: center;
  font-weight: 200;
}

#aboutSection > .seventhPicture {
  grid-column: 2 / span 1;
  grid-row: 20 / span 2;
  width: 50%;
  justify-self: center;
  align-self: center;
  font-weight: 200;
}

/* ***** TEAM SECTION ***** */

#aboutSection > div > img {
  border-radius: 100px;
  border: 1px solid #3c493f;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutSection > p {
  color: black;
  align-self: center;
  margin-left: 5%;
  margin-right: 2%;
  width: 60%;
  font-weight: 200;
}

#aboutSection > div > p {
  text-align: center;
}

#aboutSection > div {
  margin-bottom: 4%;
  margin-top: 7%;
}

.question {
  font-weight: 500;
  font-size: 1.5em;
  color: rgb(22, 138, 82);
  /* rgb(36, 187, 114); */
}

.answer {
  font-size: 1.1em;
  font-weight: 300;
}

.title {
}

/* ***** CEO ****** */

#aboutSection > .monkeyContainer {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

#aboutSection > .monkeyDescription {
  grid-column: 2 / span 1;
  grid-row: 11 / span 1;
}

/* ****** CTO ****** */

#aboutSection > .lionContainer {
  grid-column: 1 / span 1;
  grid-row: 5 / span 2;
}

#aboutSection > .lionDescription {
  grid-column: 2 / span 1;
  grid-row: 12 / span 1;
}
/* ***** CMO ****** */

#aboutSection > .owlContainer {
  grid-row: 13 / span 1;
  grid-column: 1 / span 1;
}

#aboutSection > .owlDescription {
  grid-column: 2 / span 1;
  grid-row: 13 / span 1;
}
