h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
  color: #3c493f;
}

h1 {
  font-weight: 300;
}

h3 {
  margin: 0 auto 0.5em;
  color: #7e8d85;
  font-weight: 500;
}

p,
ul,
li,
a,
label {
  font-family: "Open Sans", sans-serif;
  color: #3c493f;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

/* -- global colors --
    #3C493F;
    #7E8D85;
    #B3BFB8;
    #F0F7F4;
    #A2E3C4;
 */

.listToolPage .borderRadius {
  border-radius: 4px;
  border: 1px solid #b3bfb8;
}

/* -- AddToolPage styling -- */

.listToolPage {
  box-sizing: border-box;
  display: block;
  background-color: #f0f7f4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* -- add photo styling -- */

.listToolPage .photoBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  margin: 1em;
}

.listToolPage .photo img {
  color: #3c493f;
  border-bottom: 1px solid #b3bfb8;
  border-left: 1px solid #b3bfb8;
  border-right: 1px solid #b3bfb8;
  height: 12.1em;
  width: 18em;
  z-index: -1;
  display: block;
}

.listToolPage form input:focus,
form textarea:focus {
  outline: 0;
  border: 1px solid #7e8d85;
}

.listToolPage button,
input[type="submit"] {
  margin: 4em auto;
  width: 9em;
  height: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  background-color: #a2e3c4;
  border-bottom: 3px solid #90d5af;
  text-shadow: 0px -2px #90d5af;
  border-radius: 5px;
  cursor: pointer;
}

/* -- form styling -- */

.listToolPage form {
  margin: 1em;
  padding: 1em;
  background-color: #fff;
}

.listToolPage label {
  font-size: 0.8em;
  color: #3c493f;
}

.listToolPage input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #b3bfb8;
  box-sizing: border-box;
  margin-top: 0.2em;
  margin-bottom: 1.6em;
  resize: none;
}

.listToolPage input[type="submit"] {
  margin-left: 0;
  width: 6em;
}

.listToolPage input[type="cancel"] {
  font-size: 0.9em;
  margin-left: 1em;
  width: 3.5em;
  color: #7e8d85;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.listToolPage section .toolInfo {
  background-color: #f2f2f2;
}

.listToolPage .formButtons #cancel-button {
  margin: 1em auto;
  justify-content: center;
  text-align: center;
}

.listToolPage section {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  height: 6em;
}

@media only screen and (min-width: 300px) {
  .modal {
    max-width: 80em;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .listToolPage .formButtons {
    margin-top: 5em;
    margin-left: 9em;
  }

  #close-button {
    margin-right: 1em;
    width: 7em;
    justify-content: center;
    text-align: center;
    background-color: #e53934;
    color: #fff;
    text-shadow: 0px -1px #e53934;
    border-bottom: 3px solid #c0312c;
    border-radius: 5px;
  }

  #fileButton {
    width: 13em;
    background-color: #a2e3c4;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .listToolPage section {
    max-width: 25em;
    margin: 0;
  }

  .listToolPage .photoBackground {
    height: 12.1em;
  }

  .listToolPage .grid1 {
    width: 20em;
  }

  .listToolPage .grid2 {
    width: 25em;
    grid-row-start: span 2;
  }

  .listToolPage .grid3 {
    width: 20em;
    margin-left: auto;
    margin-right: 0em;
  }
}
