.confFont {
  font-family: "Kanit", sans-serif;
  color: #3c493f;
  margin-top: 0.5em;
  margin-left: 0;
  line-height: 1.3;
}

.confirm {
  /* width: 50em;
  height: 30em; */
  width: 100%;
  height: 100%;
}

.modal {
  height: 49em;
}
