.confFont {
  font-family: "Kanit", sans-serif;
  color: #3c493f;
  margin-top: 0.5em;
  margin-left: 0;
  line-height: 1.3;
}

.confirm {
  /* width: 50em;
  height: 30em; */
  width: 100%;
  height: 150%;
}

.confirmation-modal-close-button {
  width: 10em;
}

#confirmationToolModal {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 98%;
}

/* @media only screen and (min-width: 1500px) {
  .modal #confirmationToolModal {
    height: 100%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
} */
