.toolCard {
  width: 90%;
}

.card-action {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.tool-card-no-tool-message {
  margin: 0.8em auto;
  text-align: center;
  padding: 0 2em;
  border: 1px solid #B3BFB8;
  background-color: #FAFAFA;
  border-radius: 5px;
}