/* -- global colors --
  #3C493F;
  #7E8D85;
  #B3BFB8;
  #F0F7F4;
  #A2E3C4; */

#map {
  height: 93.3vh; /* 92.2vh to account for navbar height - glitchy */
  float: right;
  width: 75%;
}

#sidebar {
  width: 25%;
  height: 93.3vh;
  position: fixed;
  z-index: 100;
  background-color: #F0F7F4;
  overflow: scroll;
}

/* #sidebar-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .sidebar-search-btn {
  max-width: 8em;
}

.sidebar-search-label {
  margin-top: 1em;
  width: 90%;
}

.sidebar-search-input {
  font-size: 10px;
  text-align: center;
} */

#sidebar-search-form {
  width: 90%;
  margin: 1em auto;
}





.sidebar-card {
  margin: 0.8em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border: 1px solid #B3BFB8;
  background-color: #FAFAFA;
  border-radius: 5px;
}

[class~='sidebar-card']:last-of-type  {
  margin-bottom: 4em;
}

.sidebar-card-price {
  margin-right: 1em;
  font-size: 18px;
}

.sidebar-card-img {
  width: 80px;
  height: 80px;
  display: cover;
  border-radius: 5px;
}
