/* -- global colors --
  #3C493F;
  #7E8D85;
  #B3BFB8;
  #F0F7F4;
  #A2E3C4; */

#map {
  height: 93.3vh; /* 92.2vh to account for navbar height - glitchy */
  width: 100vw;
}

#sidebar {
  width: 24em;
  left: 0;
  height: 100vh;
  border-radius: 0 0 8px 0;
  position: fixed;
  z-index: 100;
  background-color: #F0F7F4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-search-label {
  margin-top: 1em;
  width: 90%;
}

.sidebar-search-input {
  font-size: 10px;
}

input, select {
  font-size: 8px;
  text-align: center;
}

