.checkout {
  align-content: center;
  width: 90%;
  margin-top: 1em;
  font-size: 20px;
}
.checkoutBtn {
  display: flex;
  justify-content: center;
  align-content: center;
}

.checkout-form-submit-button {
  width: 12em;
}

#bookNowBtn {
  margin-top: 2.4em;
}
