.toolCard {
  width: 80%;
}

/* button {  //commented out because it was coloring the button on the tools detail page as well need more specific styling
  background-color: red;
} */

.card-action {
  display: flex;
  justify-content: space-between
}
.row1 {
  display: flex;
  justify-content: center;
}
